
/* general */
:root {
    --width-50-perc: 50%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    list-style-type: none;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.page-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
/* ---------------------------------------------------- */

/* navigation */
nav {
    /* max-width: 960px; */
    width: 100%;
}

#navigation {
    display: flex;
}

.left-side {
    width: var(--width-50-perc);
    display: flex;
}

.right-side {
    width: var(--width-50-perc);
    display: flex;
    justify-content: end;
}

.nav-link {
    margin: 20px;
    font-weight: 600;
}

#sign-in-btn {
    padding: 0px 15px;
}
/* ------------------------------------------------------------ */

/* main content */
main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-area {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

/* #search-img {
    width: 10vw;
} */

#search-bar {
    margin: 20px;
    width: 90vw;
    height: 45px;
    border-radius: 20px;
    border-color: #e1e4e8;
}

#search-btns {
    display: flex;
    justify-content: center;
}

.search-btn {
    margin: 0.8rem 0.5rem;
    padding: 5px 15px;
    text-transform: capitalize;
    background-color: #f1f1f170;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
}

.search-btn:hover {
    cursor: pointer;
    border: 1px #c9c2c2 solid;
}
/* ---------------------------------------------- */

/* footer */
footer {
    height: 16.5%;
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0px;
    width: 100vw;
}

#footer-container {
    /* height: 100%;
    width: 100%; */
    display: flex;
    flex-direction: column;
}

#footer-top {
    /* height: 50%;
    width: 100%; */
    text-align: center;
    font-size: 15px;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

#footer-bot {
    /* height: 50%;
    width: 100%; */
    text-align: center;
    font-size: 15px;
    margin-top: 1rem;
}

.footer-el {
    margin: 0 1rem;
    color: #363636;
    font-weight: 500;
}